<div class="bradcam_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Contact</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="creative_people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h4>Creativity & Innovation</h4>
                </div>
            </div>
        </div>
        <div class="border_bottom">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_people">
                        <div class="thumb">
                            <img src="https://res.cloudinary.com/dv4ioxcpv/image/upload/v1606836222/119057114_3821841984511407_2336705830462289703_o_jjghnj.png" alt="">
                        </div>
                        <div class="people_info">
                            <h4>Dulfrey Hernández</h4>
                            <p>Systems & Computing Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <p>
                        wdhernandezh@unal.edu.co
                    </p>
                    <p>
                        <i class="mdi mdi-speedometer-slow"></i>
                        <a href="https://wa.me/573166726267">+57 3166726267</a>
                    </p>
                </div>
               
            </div>
        </div>
    </div>
</div>
