<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-xl-3 col-lg-2">
                      <div class="logo">
                          <a href="index.html">
                              <img src="./assets/img/logo.png" alt="">
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-9 col-lg-10">
                      <div class="main-menu  d-none d-lg-block text-right">
                          <nav>
                              <ul id="navigation">
                                  <li><a class="active" href="/">home</a></li>
                                  <li><a routerLink="/about">About</a></li>
                                  
                                  <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                      <ul class="submenu">
                                          <li><a href="/">blog</a></li>
                                          <li><a href="/">single-blog</a></li>
                                      </ul>
                                  </li>
                                  
                                  <li><a routerLink="/contact">Contact</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="mobile_menu d-block d-lg-none"></div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</header>
<!-- header-end -->
<router-outlet></router-outlet>

<!-- footer start -->
<footer class="footer">
      <div class="footer_top">
          <div class="container">
              <div class="row">
                  <div class="col-xl-4 col-md-6 col-lg-4">
                      <div class="footer_widget">
                         <div class="logo_footer">
                             <a href="index.html">
                                 <img src="./assets/img/logo.png" alt="">
                             </a>
                         </div>

                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6 col-lg-3">
                      <div class="footer_widget">
                          <h3 class="footer_title">
                                  Services
                          </h3>
                          <ul>
                              <li><a href="/">Web Design</a></li>
                              <li><a href="/">Mobile apps</a></li>
                              <li><a href="/">Architectural Design</a></li>
                          </ul>

                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6 col-lg-3">
                      <div class="footer_widget">
                          <h3 class="footer_title">
                              Useful Links
                          </h3>
                          <ul>
                              <li><a routerLink="/">Work</a></li>
                              <li><a routerLink="/about">About</a></li>
                              <li><a routerLink="/">Services</a></li>
                              <li><a routerLink="/contact">Contact</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-2 col-md-6 col-lg-2">
                      <div class="footer_widget">
                          <h3 class="footer_title">
                                  Follow me
                          </h3>
                          <ul>

                              
                              <li><a target="_blank" href="https://www.instagram.com/dulfrey/">Instagram</a></li>
                              <li><a target="_blank" href="https://github.com/dulfrey">Github</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copy-right_text">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <p class="copy_right text-center">
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
<!--/ footer end  -->

<!-- JS here -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scrollIt.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/gijgo.min.js"></script>

<!--contact js-->
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>

<script src="js/main.js"></script>